html {
    height: 100vh;
    background-color: green;
    
}

 body{
    width: 50%;
    padding-bottom: 50%;

    
 }
 section{

        /* positioning */
         display: flex;
         flex-direction: column;

    /* text styling */
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 900;
        font-style: oblique;
        background-color: whitesmoke;
        text-align: center;


 }

section div{

    width: 100px;
    height: 100px;
    margin: 2px;
    flex-direction: row;


}
